<div class="social">
  Follow us:
  <ul>
    <li><a href="https://www.facebook.com/yourwebsite/" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/yourwebsite" target="_blank">Twitter</a></li>
  </ul>
</div>
