<div class="social">
  Follow us:
  <ul>
    <li><a href="https://www.facebook.com/yourwebsite/" target="_blank"><span class="icon-font-icon-genuine-10 icon"></span></a></li>
    <li><a href="https://twitter.com/yourwebsite" target="_blank"><span class="icon-font-icon-genuine-08 icon"></span></a></li>
  </ul>
</div>
