<nav>
  <ul>
    <li class="active">
      <a href="<%= locals.url('/') %>">Home</a>
    </li>
    <!-- Example -->

    <li>
      <a href="javascript:void(0)">Categories</a>
      <ul class="dropdown">
        <li><a href="#">First Category</a></li>
        <li><a href="#">Second Category</a></li>
        <li><a href="#">Third Category</a></li>
      </ul>
    </li>

  </ul>
  <div class="navoverlay"></div>
</nav>
