# OS-specific
.DS_Store

# Python
*.pyc

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
.vagrant
npm-debug.log
npm-debug.log.*

.sass-cache

local-config.js

public/css/style.css
public/css/style.min.css
public/css/style.css.map
public/css/style.min.css.map

public/js/main.js
public/js/main.min.js
