<% layout('layout') -%>
<h2>This is the article page</h2>
<ul>
  <% for(var i=0; i<data.element.items.articles.length; i++) {%>
    <li><%= data.element.items.articles[i].title %></li>
  <% } %>
</ul>
