<div class="breadcrumb">
  <ul class="tools">
    <li><a href="javascript:window.print()"><span class="icon-font-icon-genuine-07 icon"></span></a></li>
    <li class="shareBtn"><a href="javascript:void(0)"><span class="icon-font-icon-genuine-06 icon"></span></a></li>
    <li class="socialShare">
      <a class="sharer button" data-sharer="facebook" data-url=""><span class="icon-font-icon-genuine-11 icon"></span></a>
      <a class="sharer button" data-sharer="twitter" data-title="<%= data.title %>" data-hashtags="#genuine" data-url=""><span class="icon-font-icon-genuine-09 icon"></span></a>
      <a class="sharer button" data-sharer="googleplus" data-url=""><span class="icon-font-icon-genuine-13 icon"></span></a>
      <a class="sharer button" data-sharer="email" data-title="<%= data.title %>" data-url="" data-subject="<%= data.title %>" data-to="" target="_blank"><span class="icon-font-icon-genuine-14 icon"></span></a>
    </li>
  </ul>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li>Lorem ipsum</li>
    <li>Dolore sit amet</li>
  </ul>
</div>
