<% layout('layout') -%>
<h1 class='fun' >Hey</h1>
<div class="row">
  <ul>
    <li><%= data.fruit %></li>
    <li>Oranges</li>
    <li>Bananas</li>
    <li>Melon</li>
    <li>Blueberries</li>
  </ul>
</div>
