<section class="slidehome swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="bodycontainer">
        <div class="legend">
          <h1>slide 1</h1>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bodycontainer">
        <div class="legend">
          <h1>slide 2</h1>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bodycontainer">
        <div class="legend">
          <h1>slide 3</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</section>
