<div class="overlay"></div>
<header class="header">
  <a href="<%= locals.url('/') %>" class="logo"><img src="<%=locals.s3%>/img/logo.png" alt=""></a>
  <div class="navbtn"></div>
  <%- partial('elements/nav') %>
  <%- partial('elements/follow') %>
</header>
