<% layout('layout') -%>
<div class="pageHead">
  <div class="bodycontainer">
    <h1><%= data.page.title || 'Page' %></h1>
    <%- partial('../breadcrumb') %>
  </div>
</div>
<%-partial('elements/'+data.page.partial)%>
